#end-screen {
    border:1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30vh;
    margin:1rem;
    gap: .5rem;
    font-size: 3.5rem;
    padding: 3rem;
    text-align: center;
}
#end-screen button {
    border: none;
    background-color: lightgreen;
    border-radius: 4px;
    width: 20rem;
    height: 8rem;
    cursor: pointer;
    font-size: 2rem;
}
@media screen and (max-width:678px) {
        #end-screen {
            font-size: 1.75rem;
            padding: 4px;
        }
        #end-screen button {
            font-size: medium;
            width: 70%;
            height: 64px
        }
}